*,
*::after,
*::before {
    box-sizing: border-box;
}
html {
    margin: 0;
}
body {
    margin: 0;
    background-color: var(--clr-main-body);
}
img {
    display: block;
    width: 100%;
}

footer {
    padding-block: 1em;
}
h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
}

a {
    text-decoration: none;
    color: white;
    cursor: pointer;
}
/* buttons */
.btn {
    cursor: pointer;
}
