.main-layout {
    display: grid;
    grid-template-columns:
        minmax(30px, 1fr)
        minmax(auto, 1100px)
        minmax(30px, 1fr);
}
.main-layout > *.full {
    grid-column: 1/-1;
}
.main-layout > *:not(.full) {
    grid-column: 2;
}

.gallary-layout {
    display: grid;

    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    grid-auto-flow: row;
}

.editor-layout {
    display: grid;

    grid-auto-flow: column;
    gap: 10px;
    grid-template-columns: repeat(2, max-content);
}

.control-panel-layout {
    display: grid;
    grid-template-rows: repeat(3, min-content);
}

.control-panel-layout a {
    grid-column: 2 / span 2;
}
