body.main-layout {
    display: grid;
    grid-template-columns:
        minmax(30px, 1fr)
        minmax(auto, 980px)
        minmax(30px, 1fr);
    grid-template-rows: auto minmax(auto, 1fr) auto;
}
.main-layout {
    display: grid;
    grid-template-columns:
        minmax(30px, 1fr)
        minmax(auto, 980px)
        minmax(30px, 1fr);
}
.main-layout > *.full {
    grid-column: 1/-1;
}
.main-layout > *:not(.full) {
    grid-column: 2;
}

.gallary-layout {
    display: grid;

    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    grid-auto-flow: row;
}

.editor-layout {
    display: grid;
    grid-auto-flow: row;
}

.control-panel-layout {
    display: grid;
    grid-template-columns: repeat(5, 3fr);
    grid-auto-flow: row;
    /* gap: 0.2em; */
    align-items: start;
}
.control-panel-layout .editor-txt {
    grid-column: 1/-1;
}
.control-panel-layout .switch-line {
    grid-column: 2;
}
.control-panel-layout .font-inc {
    grid-column: 1;
}
.control-panel-layout .change-font {
    grid-column: 1 / span 3;
}
.control-panel-layout .download-btn {
    grid-column: 2;
}
