.main-header {
    background-color: var(--clr-header);
}
.main-header img {
    width: 100px;
}

.header-content nav ul {
    gap: 1em;
}
.header-content nav ul li a {
    display: flex;
    align-items: center;
    height: 3em;

    letter-spacing: 1px;
    padding-inline: 0.2em;
    transition: box-shadow 0.4s;
}
.header-content nav ul li a:hover {
    box-shadow: inset 0px -3px 0px 0px rgb(0, 0, 0);
}
.header-content nav ul li a.selected {
    color: black;
    box-shadow: inset 0px -3px 0px rgb(0, 0, 0);
}
.header-content {
    align-items: center;
}
